<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<noscript>
<img height="1" width="1" border="0" alt="" style="display:none"
src="http://analytics.adsage.cn/atac.gif?acc=792&cid=987&csid=2420&ver=1.0"/>
</noscript>
<script type="text/javascript" src="/site_media/js/atac.js"></script>
<script src="/site_media/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".tab span.tags:first").addClass("current"); //为第一个SPAN添加当前效果样式
        $(".tab ul:not(:first)").hide(); //隐藏其它的UL
        $(".tab span.tags").click(function() {
            $(".tab span").removeClass("current"); //去掉所有SPAN的样式
            $(this).addClass("current");
            $(".tab ul").hide();
            $("." + $(this).attr("id")).fadeIn('slow');
        });
    });
</script>
<script type="text/javascript">
	<!--
	ataTracker.setAccount("792");
	ataTracker.setConversion("987","2420");
	ataTracker.track();
	//-->
</script>

<title>测试儿童票务站</title>
<link href="/site_media/css/base.css" type="text/css">
<link href="/site_media/css/new_product.css" type="text/css" rel="stylesheet">
<link href="/site_media/css/css_228.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/site_media/css/flashpic.css">
</head>

<body>


{% load custom %}
{% regroup project by type as project_list %}
<div class="tab">
    <!-- 首页推荐区名字 -->
    <p id="p">
        {%for group in project_list%}
            <span id="tab{{forloop.counter}}" class="tags">{{group.grouper}}</span> 
        {% endfor %}
    </p>
    {%for tp in project_list%}
        <ul class="tab{{forloop.counter}}">
            {%for p in tp.list%}
                <li>
                    <a title="{{i.name}}" href="/project/{{p.id}}/"><img alt="{{i.name}}" src="http://pimg.damai.cn/perform/project/175/17587_88_108.jpg"></a>
                    <div class="ps">
                        <h1><a href="/project/{{p.id}}/">{{p.name}} <font size=2 color=orange>(点击进入专题)</font></a></h1>
                        <br>{{p.info|truncateletters:50}}
                        <p>场馆：<a href="#">{{p.venues}}</a></p>
                        <p>时间：{{p.begin_time}}-{{p.end_time}}</p>  
                        <h6>{{p.get_status_display|safe}}</h6>  
                    </div>
                </li>
            {%endfor%}
        </ul>
    {%endfor%}
</div>
<p>

</body>
</html>
